---
export interface Props {
    title: string;
    description: string;
    image?: string;
    link: string;
    date: string;
}
const { title, description, date, image, link } = Astro.props;
---

<div
    class="py-8 flex flex-row justify-between gap-x-3 content-center px-10 md:px-0"
>
    <div>
        <a
            href={link}
            class="text-neutral-900 hover:text-opacity-60 dark:text-neutral-50 font-medium text-xl"
            >{title}
        </a>
        <p
            class="text-neutral-900 dark:text-neutral-50 leading-relaxed opacity-90 text-sm pb-3 pt-2"
        >
            {description}
        </p>
        <span class="text-sm text-neutral-900 opacity-60 dark:text-neutral-50"
            >{date}
        </span>
    </div>
</div>
